.card {
    width: 70%;
}

.Cabecera {
    color: white;
}

.CabeceraContacto {
    color: white;
    text-align: center;
}

.EnlacesContacto div {
    text-align: center;
}

#PPersonales {
    padding-left: 20%
}

#Inicio div div {
    padding-top: 1%;
    padding-bottom: 1%;
}

.Footer {
    text-align: center;
}